<form #empForm="ngForm" novalidate (ngSubmit)="updateEmployee(empForm)">
  <div class="form-group" [class.has-error]="firstName.invalid && firstName.touched">
      <label for="firstName"  class="control-label"> First Name</label>
      <input required type="text" class="form-control" name="firstName" [(ngModel)]="employee.firstName" #firstName="ngModel">
      <span class="help-block" *ngIf="firstName.invalid && firstName.touched">
              First Name is required.
          </span> 
  </div>

  <div class="form-group" [class.has-error]="lastName.invalid && lastName.touched">
          <label for="lastName"  class="control-label"> Last Name</label>
          <input required type="text" class="form-control" name="lastName" [(ngModel)]="employee.lastName" #lastName="ngModel">   
          <span class="help-block" *ngIf="lastName.invalid && lastName.touched">
                  Last Name is required.
              </span> 
  </div>

  <div class="form-group" [class.has-error]="email.invalid && email.touched">
          <label for="email" class="control-label"> Email </label>
          <input disabled required [email]="employee.email!=='' " type="text" class="form-control" id="email" name="email" [(ngModel)]="employee.email" #email="ngModel">
          <span class="help-block" *ngIf="email.errors?.required && email.touched">
              Email is required.
          </span> 
          <span class="help-block" *ngIf="email.errors?.email && email.touched">
                  Email is invalid.
          </span> 
  </div>

  <div class="form-group" [class.has-error]="password.invalid && password.touched">
          <label for="password" class="control-label"> Password </label>
         
          <input required  type="password"
            class="form-control" id="password" name="password" appPasswordStrength="password" passwordToggle
            [(ngModel)]="employee.password"
            #password="ngModel" minlength="8" maxlength="20">            

          <span class="help-block" *ngIf="password.errors?.required && password.touched">
                  Password is required.
          </span> 
          <span class="help-block" *ngIf="password.touched && password.dirty && password.errors?.minlength">
                  Password must be at least 8 characters.
          </span>  
           <span class="help-block" *ngIf="password.touched  && password.errors?.strong ">
              Password should contain at least one number & one upper case letter.
           </span>  
  </div>

  <div class="form-group">
          <div class="col-md-4 col-md-offset-2">
              <span>
                  <button class="btn btn-primary"
                          type="submit"
                          style="width:80px;margin-right:10px"
                          [disabled]="!empForm.valid">
                      Update
                  </button>
              </span>
              <span>
                  <a class="btn btn-default"
                     [routerLink]="['/employees']">
                      Cancel
                  </a>
              </span>
           </div>
      </div>
</form>